---
---

@import "{{ site.theme }}";

// theme: leap-day

header { background-color: #242424; background-image: none; padding-bottom: 15px; }
header h1 { text-shadow: 0px 2px 0px #888; }
#banner { display:none; background-color: #b93939; border-color: #ce5f5f; }
section h1:first-child, li.tag-h1:first-child { display: none; }
@media print, screen and (max-width: 1060px) { .wrapper > section { margin-top: 145px; border: 1px solid #e5e5e5; padding: 30px; } }
.wrapper > footer { display: none; }
.wrapper > nav:first-child { top: 145px; }

// content
span.mana { display: block; text-align: center; }
span.mana > img { height: 36px;  width: 36px; }